.idea/
*.iml
.DS_Store
target/
*.swp
*.swo
*.txt12
*.log
logs/
/target
.project
.vagrant
.classpath
.settings
*.key
~*.doc
*.pdb
dependency-reduced-pom.xml
~$*.pptx
myTestSpring/notify-subscription.log.*
*.log.*
*.txt
automation/PreClassMenu_auto_*.jmx
automation/test_*.jtl
