.idea/
*.iml
.DS_Store
target/
*.swp
*.swo
*.txt12
*.log
logs/
/target
.project
.vagrant
.classpath
.settings
*.key
~*.doc
*.pdb
dependency-reduced-pom.xml
~$*.pptx
myTestSpring/notify-subscription.log.*
*.log.*
*.txt
automation/PreClassMenu_auto_10.jmx
automation/PreClassMenu_auto_20.jmx
automation/PreClassMenu_auto_30.jmx
automation/PreClassMenu_auto_40.jmx
automation/PreClassMenu_auto_50.jmx
automation/test_10.jtl
automation/test_20.jtl
automation/test_30.jtl
automation/test_40.jtl
automation/test_50.jtl
